@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ExpenseTracker</h1>
    <p></a>Welcome to the transaction tracker application.</p>
    <p></a>Main functionalities are creation, edit, delete and search of transaction.</p>
    <p></a>Transaction details are: description, amount, category and date. </p>
</div>
