@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This applications privacy policy is that only users with authorized login can manipulate the transactions. Unauthorized access only includes viewing transaction history and their type.</p>
<p>Unauthorized access only includes viewing transaction history and their type.</p>
